<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_GeoIP>
            <version>0.1.0</version>
        </Aligent_GeoIP>
    </modules>
    <global>
        <helpers>
            <aligent_geoip>
                <class>Aligent_GeoIP_Helper</class>
            </aligent_geoip>
        </helpers>
        <models>
            <aligent_geoip>
                <class>Aligent_GeoIP_Model</class>
            </aligent_geoip>
        </models>
        <resources>
            <aligent_geoip_setup>
                <setup>
                    <module>Aligent_GeoIP</module>
                </setup>
            </aligent_geoip_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <aligent_geoip>
                        <type>singleton</type>
                        <class>aligent_geoip/observer</class>
                        <method>setVarnishResponseHeader</method>
                    </aligent_geoip>
                </observers>
            </http_response_send_before>
            <controller_action_predispatch>
                <observers>
                    <aligent_geoip>
                        <type>singleton</type>
                        <class>aligent_geoip/observer</class>
                        <method>enforceCountryGeoblock</method>
                    </aligent_geoip>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_geoip>
                                            <title>Aligent GeoIP Configuration</title>
                                        </aligent_geoip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Aligent_GeoIP/>
            </modules>
        </suite>
    </phpunit>
</config>